*{
    margin: 0;
    padding: 0;
}
.service_item_part{
    display: flex;

}
.iteam_part{
    height: 460px;
    width: 368px;
    border: 1px solid red;
    text-align: center;
   
.card_text{
    background-color: green;
}
.card_date{
    background-color: purple;
}